/*output images*/
canvas{ position:relative; z-index: -1; border-top: 10px #000;
    // image-rendering: optimizeSpeed;             // Older versions of FF
    // image-rendering: -moz-crisp-edges;          // FF 6.0+
    // image-rendering: -webkit-optimize-contrast; // Webkit
    //                                             //  (Safari now, Chrome soon)
    // image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
    // image-rendering: optimize-contrast;         // Possible future browsers.
    // -ms-interpolation-mode: nearest-neighbor;   // IE
                 }
.canvas{ position:relative; z-index: 1;}
p{ font-size: 16px;color: #FFF;}
.imageresizer{ z-index: 1; position: fixed; height: 100%; width: 15%; background: #fab914; box-shadow: 1px 0px 10px #000;}
.logo{ position: fixed; top: 80%;}
img{ float: left; margin: 5px;}
