/*output images*/

canvas{
	image-rendering: optimizeSpeed;             // Older versions of FF
    image-rendering: -moz-crisp-edges;          // FF 6.0+
    image-rendering: -webkit-optimize-contrast; // Webkit (non standard naming)
    image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
    image-rendering: crisp-edges;               // Possible future browsers.
    -ms-interpolation-mode: nearest-neighbor;   // IE (non standard naming)
    float:left;margin: 5px;border-top: 10px black;
}
.imageresizer{position: fixed;height: 100%;width: 20%;background: white;}
img{float:left;margin: 5px;}
#bucket{float: left;width: 100%;border-top: 3px solid white;}
#result{float: left;width: 100%;border-top: 3px solid white;}
#thumbnail{float: left;width: 100%;border-top: 3px solid white;}
