/*output images*/
canvas{	float:left;margin: 5px;border-top: 10px black;}
.imageresizer{position: fixed;height: 100%;width: 20%;background: white;}
img{float:left;margin: 5px;}
#bucket{float: left;width: 100%;border-top: 3px solid white;}